<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-intellij:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_intellij_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-intellij/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-intellij" />
        </element>
      </element>
    </root>
  </artifact>
</component>