<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-destroy-method="preDestroy"
	default-init-method="postConstruct">



	<bean id="myOrganization" class="com.tpuhalo.domain.Organization"
		scope="prototype">
		<constructor-arg value="Google" index="0" name="name"></constructor-arg>
		<constructor-arg value="1996" index="1" name="year"></constructor-arg>
		<property name="postalCode" value="21000"></property>
		<property name="numOfEmp" value="285"></property>
		<property name="message" value="Work hard have fun !!!"></property>
		<property name="businessService" ref="ecommerceService"></property>

	</bean>
	<bean id="cloudService"
		class="com.tpuhalo.secondMaven.serviceimpl.CloudServiceImpl">
	</bean>
	<bean id="ecommerceService"
		class="com.tpuhalo.secondMaven.serviceimpl.EcommerceServiceImpl">
	</bean>
	<bean id="agency"
		class="com.tpuhalo.secondMaven.serviceimpl.AgencyRecruitmentServiceImpl">
	</bean>
	<bean id="referral"
		class="com.tpuhalo.secondMaven.serviceimpl.ReferralRecruitmentServiceImpl">
	</bean>
	<bean id="myhrdept" class="com.tpuhalo.domain.HRDept">
		<constructor-arg name="recruitmentService" ref="referral"></constructor-arg>
		<constructor-arg name="organization"
			ref="myOrganization"></constructor-arg>
		<property name="departmentName" value="HR department"></property>
	</bean>
</beans>
